@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--Gradient: linear-gradient(
    to right,
    hsl(6, 96%, 68%),
    hsl(335, 100%, 65%)
  );
--Blue-200: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 font-size: 14px;
 color: var(--Blue-200);
}

body{
    background-color: var(--Blue-950);
    font-family: "Raleway", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 0;
}

.background__pattern{
    position: absolute;
    bottom: 0px;
    max-width: 1100px;
    width: 100vw;
    height: 50vh;
    z-index: -1;
}

.background__pattern--mobile{
    display: none;
}

.card{
    width: 270px;
    height: 150px;
    background-color: var(--Blue-850);
    border-radius: 5px 60px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 30px;
}

.card__logo{
    width: 100px;
}

.card__buttons{
    display: flex;
    gap: 10px;
}

.card__buttons button{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: var(--Blue-950);
}

.card__buttons button img{
    width: 55%;
}

.card__buttons button:first-child img{
    width: 45%;
}

.memory-info{
    width: 400px;
    height: 115px;
    background-color: var(--Blue-850);
    margin-top: 40px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: relative;
}

.memory__description{
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.memory__description strong{
    font-weight: bold;
    opacity: 100%;
}

.memory__bar{
    width: 100%;
    height: 15px;
    background-color: var(--Blue-950);
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    position: relative;
}

.memory__bar progress{
  -webkit-a: none;
  width: 100%;
  height: 11px;
  border: none;
  background: transparent;
  margin-left: 2px;
}

.decorative__ball{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: white;
    z-index: 5;
    border-radius: 50%;
    left: calc(81.5% - 2.9%);
    top: 3px;
}

.memory__bar progress::-webkit-progress-bar{
    appearance: none;
    border-radius: 123px;
    background-color: var(--Blue-950);
}

.memory__bar progress::-webkit-progress-value {
  height: 100%;
  background: var(--Gradient);
  border-radius: 999px;
  padding-right: 5px;
}

.memory__bar progress::-moz-progress-bar {
  background: var(--Gradient);
  border-radius: 999px;
}

.memory__size{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: bold;
}

.memory__left{
    position: absolute;
    width: 135px;
    height: 57px;
    background-color: var(--Blue-200);
    color: var(--Blue-950);
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px 5px 0px 5px;
    top: -40px;
    right: 30px;
}

.memory__left strong{
    font-size: 2.2rem;
}

.triangle {
    width: 15px;
    height: 15px;
    background-color: var(--Blue-200);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    position: absolute;
    top: 17px;
    right: 30px;
}

@media(max-width: 710px){
    .container{
        flex-direction: column;
    }

    .card{
        max-width: 300px;
        width: 80%;
    }

    .memory-info{
        max-width: 300px;
        width: 80%;
        height: 150px;
        margin-top: 10px;
    }

    .memory__left{
        top: 125px;
        right: calc(50% - 70px);
    }

    .triangle {
        display: none;
    }
}

@media(max-width: 425px){
    .background__pattern{
        display: none;
    }

    .background__pattern--mobile{
        display: block;
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
}

